@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* ----------------------------------css reset---------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Barlow', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------------------------------------------------- */

/* -----------------navbar---------------------------- */

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem 0rem;
    overflow: auto;
}

.nav-scroll {
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(31, 29, 29);
}

.logo, .lists {
    display: flex;
    align-items: center;
}

#logo {
    width: 20%;
    margin-right: 0.5rem;
}

.logo span {
    font-size: 3rem;
    font-weight: 900;
    transform: translateY(-5px);
    color: #fff;
}

.lists li a {
    margin: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}

.lists li a:hover {
    color: #f44236;
}

.lists li a:focus {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #f44236;
}

.menu {
    margin-right: 4rem;
}

.account button, .btn-primary.post {
    outline: none;
    border: 2px solid #f44236;
    border-radius: 50px;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #f44236;
    transition: color 1s;
}

.btn-primary.post {
    padding: 0.5rem 1rem;
}

.account button:hover, .btn-primary.post:hover {
    border: 2px solid #f44236;
    color: #f44236;
    background-color: #fdf0ee;
}

/* ---------------- */

.scroll {
    display: none;
    transition: 1s;
}

.scroll-up {
    position: fixed;
    bottom: 40px;
    right: 60px;
    z-index: 800;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #f44236;
    color: rgb(31, 29, 29);
    cursor: pointer;
}

.scroll-up:hover {
    color: #fdf0ee;
}

/* ---------------- */

.ham {
    display: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: #fff;
}
/* -----------header------------------------ */
#heading {
    width: fit-content;
}

#heading::after {
    content: " ";
    display: block;
    width: auto;
    height: 1px;
    margin: 0.5rem 0rem;
    border-top: 3px solid #f44236;
}
/* -----------comparision------------------- */
.table-responsive td{
    text-align: center;
    padding: 0.5rem;
}

.comparisions .card{
    width: 18rem;
}
.comparisions .card img{
    height: 10rem;
}
.comparisions .card:hover {
    transform: scale(0.9);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
.vsbox {
    background: #919191 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 35px;
    font-family: "Poppins", sans-serif;
    line-height: 35px;
    text-align: center;
}
@media(max-width:570px){
    .comparisions{
        flex-direction: column;
    }
}

.table{
    width: 100%;
    border-collapse: collapse;
}


.compare-detial tr td:first-child {
    width: 400px;
    background: #f2f2f2 none repeat scroll 0 0;
    text-align: center;
    font-weight: 600;
}

.compare-detial tr td {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    text-align: center;
    width: 395px
}
.compare-detial tr {
    border: 1px solid #ddd
}
.table .selection-list{
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: initial;
}
.compare-detial table.selection-list tr td .btn {
    margin-top: -20px
}
@media(max-width: 500px){
    .container {
        width: 100%;
        flex-direction: column;
      }
    .card h4{
        font-size: 20px;
      }
    .table tbody{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
      display: block;
      width: 100%;
  }
  .table  tr{
      margin-bottom: 15px;
  }
  .table td{
      position: relative;
  }
  .table td::before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
  }
  .table td::after{
    flex-direction: column;
  }

}
/* ---------------------------footer-------------------------------- */

#footer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #242526;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #B31217;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff !important;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb !important;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #B31217 !important;
    padding-left: 8px !important;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin: 0 10px 10px 0 !important;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff !important;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b !important;
    background-color: #ffffff !important;
}

/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

@media(max-width:630px){
    table{
        width: 50%;
    }
}
/* -----------------------media query-------------------------- */

@media(max-width:1409px) {
    .menu {
        margin-right: 0rem;
    }
    .account {
        display: none;
    }
    .account.show, .menu.show {
        width: 100vw;
        margin-top: 1rem;
        display: block;
        background-color: rgb(31, 29, 29);
    }
    .account.show li, .menu.show li {
        margin: 1rem 0rem;
        display: flex;
        justify-content: center;
    }
    #ham2 {
        display: block;
    }
    .scroll-up {
        right: 40px;
    }
    @media(max-width:1201px) {
        #review {
            flex-direction: column;
        }
    }
    @media(max-width:1085px) {
        .navbar {
            justify-content: space-between;
            padding: 1rem 3rem;
        }
        .menu {
            display: none;
        }
        #ham2 {
            display: none;
        }
        #ham1 {
            display: block;
        }
        @media(max-width:650px) {
            .scroll-up {
                bottom: 20px;
                right: 20px;
            }
            #logo {
                display: none;
            }
            @media(max-width:548px) {
                .navbar {
                    padding: 0.8rem 2rem;
                }
                .logo span {
                    font-size: 2.5rem;
                }
                @media(max-width:375px) {
                    .review {
                        width: 300px;
                        margin: 1rem 0rem;
                    }
                    @media(max-width:335px) {
                        #heading {
                            font-size: 2rem;
                        }
                        @media(max-width:301px) {
                            #heading {
                                font-size: 1.7rem;
                            }
                            .logo span {
                                font-size: 2rem;
                            }
                            .ham {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ---------------------------------------------------------------------- */